<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donation Form</title>
    <script src="https://js.stripe.com/v3/" nonce="<%= nonce %>"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
      label,
      input,
      button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      #card-element {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <form id="donation-form">
      <label for="campaignId">Campaign ID:</label>
      <input type="text" id="campaignId" name="campaignId" required />
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" required />
      <label for="card-element">Credit or Debit Card:</label>
      <div id="card-element"></div>
      <button type="submit">Donate</button>
    </form>

    <script>
      const stripe = Stripe(
        'pk_test_51PV4TxCsRNq51OBYsPPUj8NdhOA5Lzh8dUSq5v1HgGroIK5z2e4YqJFmSzjUgnwztBcYooQHeBLW5bxtXG1taU3500EtibMkom'
      ); // Replace with your Stripe publishable key
      const elements = stripe.elements();
      const card = elements.create('card');
      card.mount('#card-element');

      const donationForm = document.getElementById('donation-form');

      function getQueryParams() {
        const params = {};
        window.location.search
          .substring(1)
          .split('&')
          .forEach(function (param) {
            const [key, value] = param.split('=');
            params[key] = decodeURIComponent(value);
          });
        return params;
      }

      const queryParams = getQueryParams();
      const jwtToken = queryParams['token'];

      donationForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const campaignId = document.getElementById('campaignId').value;
        const amount = document.getElementById('amount').value;

        try {
          const { token, error } = await stripe.createToken(card);

          if (error) {
            console.error('Stripe createToken error:', error);
            return;
          }

          console.log('Token created:', token);

          const response = await fetch(
            'https://social-api-trlr.onrender.com/api/payments/payment',
            {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${jwtToken}`, // Add JWT token to the headers
              },
              body: JSON.stringify({
                campaignId,
                amount,
                token: token.id,
              }),
            }
          );

          console.log('Server response:', response);

          if (!response.ok) {
            const errorText = await response.text();
            console.error('Network response was not ok:', errorText);
            throw new Error('Network response was not ok');
          }

          const responseData = await response.json();
          console.log('Response data:', responseData);

          if (responseData.success) {
            alert('Donation successful!');
          } else {
            alert('Donation failed: ' + responseData.error);
          }
        } catch (error) {
          console.error('There was a problem with the fetch operation:', error);
          alert('Donation failed: ' + error.message);
        }
      });
    </script>
  </body>
</html>
