<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donation Form</title>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
      label,
      input,
      button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      #card-element {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <form id="donation-form">
      <input type="hidden" id="campaignId" name="campaignId" />
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" required />
      <label for="card-element">Credit or Debit Card:</label>
      <div id="card-element"></div>
      <button type="submit">Donate</button>
    </form>
    <script src="/js/donationForm.js"></script>
  </body>
</html>
